MONGODB_URI=
NEXTAUTH_SECRET=
NEXT_PUBLIC_APP_NAME=6S AuditPro
NEXT_PUBLIC_COMPANY_NAME=OnePWS Private Limited
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=onepws-6s-auditpro
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_APP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=6S AuditPro
APP_BASE_URL=http://localhost:3000
SEED_ADMIN_NAME=Master Admin
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
